PREFIX=/opt/opendmi

BUILD_DIR=build
BUILD_TYPE=Release

ENABLE_GOLANG=OFF
ENABLE_PYTHON=OFF
ENABLE_RUST=OFF
ENABLE_DBUS=OFF

ENABLE_ICU=OFF
ENABLE_JSON=AUTO
ENABLE_XML=AUTO
ENABLE_YAML=AUTO
ENABLE_JSON=AUTO

VERBOSE=OFF
